.answer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1249px;
    height: 56px;
    background: #ECECEC;
    border-radius: 10px;
    border-color: #ECECEC;
    filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.25));
    text-align: center;
}

.answer-button:hover:not([disabled]) {
    background: #CECECE;
    cursor: pointer;
}

.answer-text {
    font-family: AvantGarde, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.correct {
    background: #B9E2D3;
}

.wrong {
    background: #FF9595;
}